In [17]:
import pandas as pd
data = pd.read_csv('/workspace/GABRYEL_ALENCAR_DDF_TECH_072024/data/raw/olist_customers_dataset.csv')
data2 = pd.read_csv('/workspace/GABRYEL_ALENCAR_DDF_TECH_072024/data/raw/olist_order_payments_dataset.csv')
data3 = pd.read_csv('/workspace/GABRYEL_ALENCAR_DDF_TECH_072024/data/raw/olist_orders_dataset.csv')

print(len(data))
print(len(data2))
print(len(data3))

99441
103886
99441

In [7]:
data.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [8]:
data3.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [18]:
result = pd.merge(data2, data3, on='order_id', how='inner')

In [19]:
result

,order_id,payment_sequential,payment_type,payment_installments,payment_value,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33,0a8556ac6be836b46b3e89920d59291c,delivered,2018-04-25 22:01:49,2018-04-25 22:15:09,2018-05-02 15:20:00,2018-05-09 17:36:51,2018-05-22 00:00:00
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39,f2c7fc58a9de810828715166c672f10a,delivered,2018-06-26 11:01:38,2018-06-26 11:18:58,2018-06-28 14:18:00,2018-06-29 20:32:09,2018-07-16 00:00:00
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71,25b14b69de0b6e184ae6fe2755e478f9,delivered,2017-12-12 11:19:55,2017-12-14 09:52:34,2017-12-15 20:13:22,2017-12-18 17:24:41,2018-01-04 00:00:00
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78,7a5d8efaaa1081f800628c30d2b0728f,delivered,2017-12-06 12:04:06,2017-12-06 12:13:20,2017-12-07 20:28:28,2017-12-21 01:35:51,2018-01-04 00:00:00
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45,15fd6fb8f8312dbb4674e4518d6fa3b3,delivered,2018-05-21 13:59:17,2018-05-21 16:14:41,2018-05-22 11:46:00,2018-06-01 21:44:53,2018-06-13 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...
103881,0406037ad97740d563a178ecc7a2075c,1,boleto,1,363.31,5d576cb2dfa3bc05612c392a1ee9c654,delivered,2018-03-08 16:57:23,2018-03-10 03:55:25,2018-03-12 18:19:36,2018-03-16 13:09:51,2018-04-04 00:00:00
103882,7b905861d7c825891d6347454ea7863f,1,credit_card,2,96.80,2079230c765a88530822a34a4cec2aa0,delivered,2017-08-18 09:45:35,2017-08-18 10:04:56,2017-08-18 18:04:24,2017-08-23 22:25:56,2017-09-12 00:00:00
103883,32609bbb3dd69b3c066a6860554a77bf,1,credit_card,1,47.77,e4abb5057ec8cfda9759c0dc415a8188,invoiced,2017-11-18 17:27:14,2017-11-18 17:46:05,NaN,NaN,2017-12-05 00:00:00
103884,b8b61059626efa996a60be9bb9320e10,1,credit_card,5,369.54,5d719b0d300663188169c6560e243f27,delivered,2018-08-07 23:26:13,2018-08-07 23:45:00,2018-08-09 11:46:00,2018-08-21 22:41:46,2018-08-24 00:00:00
103885,28bbae6599b09d39ca406b747b6632b1,1,boleto,1,191.58,4c7f868f43b5cff577b0becb8c8b7860,delivered,2017-12-05 08:18:35,2017-12-06 02:50:09,2017-12-08 00:51:47,2018-02-05 14:59:09,2017-12-29 00:00:00

In [20]:
result = pd.merge(result, data, on='customer_id', how='inner')

In [21]:
result = result.sort_values(by='order_purchase_timestamp', ascending=False)
result

,order_id,payment_sequential,payment_type,payment_installments,payment_value,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
10552,10a045cdf6a5650c21e9cfeb60384c16,1,voucher,1,89.71,a4b417188addbc05b26b72d5e44837a1,canceled,2018-10-17 17:30:18,NaN,NaN,NaN,2018-10-30 00:00:00,87ab9fec999db8bd5774917de3cdf01c,18077,sorocaba,SP
5106,b059ee4de278302d550a3035c4cdb740,1,voucher,1,222.03,856336203359aa6a61bf3826f7d84c49,canceled,2018-10-16 20:16:02,NaN,NaN,NaN,2018-11-12 00:00:00,262e1f1e26e92e86375f86840b4ffd63,64600,picos,PI
64016,a2ac6dad85cf8af5b0afb510a240fe8c,1,voucher,1,197.55,4c2ec60c29d10c34bd49cb88aa85cfc4,canceled,2018-10-03 18:55:29,NaN,NaN,NaN,2018-10-16 00:00:00,af5454198a97379394cacf676e1e96cb,11900,registro,SP
35636,616fa7d4871b87832197b2a137a115d2,1,voucher,1,80.38,bf6181a85bbb4115736c0a8db1a53be3,canceled,2018-10-01 15:30:09,NaN,NaN,NaN,2018-10-23 00:00:00,634420a0ea42302205032ed44ac7fccc,27175,pirai,RJ
95315,392ed9afd714e3c74767d0c4d3e3f477,1,voucher,1,137.03,2823ffda607a2316375088e0d00005ec,canceled,2018-09-29 09:13:03,NaN,NaN,NaN,2018-10-15 00:00:00,9bb92bebd4cb7511e1a02d5e50bc4655,7176,guarulhos,SP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,3b697a20d9e427646d92567910af6d57,1,boleto,1,45.46,355077684019f7f60a031656bd7262b8,delivered,2016-10-03 09:44:50,2016-10-06 15:50:54,2016-10-23 14:02:13,2016-10-26 14:02:13,2016-10-27 00:00:00,32ea3bdedab835c3aa6cb68ce66565ef,4106,sao paulo,SP
32924,71303d7e93b399f5bcd537d124c0bcfa,1,credit_card,1,109.34,b106b360fe2ef8849fbbd056f777b4d5,canceled,2016-10-02 22:07:52,2016-10-06 15:50:56,NaN,NaN,2016-10-25 00:00:00,0eb1ee9dba87f5b36b4613a65074337c,2975,sao paulo,SP
58826,809a282bbd5dbcabb6f2f724fca862ec,1,credit_card,2,40.95,622e13439d6b5a0b486c435618b2679e,canceled,2016-09-13 15:24:19,2016-10-07 13:16:46,NaN,NaN,2016-09-30 00:00:00,009b0127b727ab0ba422f6d9604487c7,12244,sao jose dos campos,SP
61536,e5fa5a7210941f7d56d0208e4e071d35,1,credit_card,3,75.06,683c54fc24d40ee9f8a6fc179fd9856c,canceled,2016-09-05 00:15:34,2016-10-07 13:17:15,NaN,NaN,2016-10-28 00:00:00,4854e9b3feff728c13ee5fc7d1547e92,99025,passo fundo,RS
27216,2e7a8482f6fb09756ca50c10d7bfc047,1,credit_card,1,136.23,08c5351a6aca1c1589a38f244edeee9d,shipped,2016-09-04 21:15:19,2016-10-07 13:18:03,2016-10-18 13:14:51,NaN,2016-10-20 00:00:00,b7d76e111c89f7ebf14761390f0f7d17,69309,boa vista,RR

In [23]:
df_processed = result.drop(columns=[
    'order_approved_at', 
    'order_delivered_carrier_date', 
    'order_delivered_customer_date', 
    'order_estimated_delivery_date'
])

In [24]:
df_processed

,order_id,payment_sequential,payment_type,payment_installments,payment_value,customer_id,order_status,order_purchase_timestamp,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
10552,10a045cdf6a5650c21e9cfeb60384c16,1,voucher,1,89.71,a4b417188addbc05b26b72d5e44837a1,canceled,2018-10-17 17:30:18,87ab9fec999db8bd5774917de3cdf01c,18077,sorocaba,SP
5106,b059ee4de278302d550a3035c4cdb740,1,voucher,1,222.03,856336203359aa6a61bf3826f7d84c49,canceled,2018-10-16 20:16:02,262e1f1e26e92e86375f86840b4ffd63,64600,picos,PI
64016,a2ac6dad85cf8af5b0afb510a240fe8c,1,voucher,1,197.55,4c2ec60c29d10c34bd49cb88aa85cfc4,canceled,2018-10-03 18:55:29,af5454198a97379394cacf676e1e96cb,11900,registro,SP
35636,616fa7d4871b87832197b2a137a115d2,1,voucher,1,80.38,bf6181a85bbb4115736c0a8db1a53be3,canceled,2018-10-01 15:30:09,634420a0ea42302205032ed44ac7fccc,27175,pirai,RJ
95315,392ed9afd714e3c74767d0c4d3e3f477,1,voucher,1,137.03,2823ffda607a2316375088e0d00005ec,canceled,2018-09-29 09:13:03,9bb92bebd4cb7511e1a02d5e50bc4655,7176,guarulhos,SP
...,...,...,...,...,...,...,...,...,...,...,...,...
155,3b697a20d9e427646d92567910af6d57,1,boleto,1,45.46,355077684019f7f60a031656bd7262b8,delivered,2016-10-03 09:44:50,32ea3bdedab835c3aa6cb68ce66565ef,4106,sao paulo,SP
32924,71303d7e93b399f5bcd537d124c0bcfa,1,credit_card,1,109.34,b106b360fe2ef8849fbbd056f777b4d5,canceled,2016-10-02 22:07:52,0eb1ee9dba87f5b36b4613a65074337c,2975,sao paulo,SP
58826,809a282bbd5dbcabb6f2f724fca862ec,1,credit_card,2,40.95,622e13439d6b5a0b486c435618b2679e,canceled,2016-09-13 15:24:19,009b0127b727ab0ba422f6d9604487c7,12244,sao jose dos campos,SP
61536,e5fa5a7210941f7d56d0208e4e071d35,1,credit_card,3,75.06,683c54fc24d40ee9f8a6fc179fd9856c,canceled,2016-09-05 00:15:34,4854e9b3feff728c13ee5fc7d1547e92,99025,passo fundo,RS
27216,2e7a8482f6fb09756ca50c10d7bfc047,1,credit_card,1,136.23,08c5351a6aca1c1589a38f244edeee9d,shipped,2016-09-04 21:15:19,b7d76e111c89f7ebf14761390f0f7d17,69309,boa vista,RR

In [35]:
dfll = dfll.drop(columns=['Unnamed: 0'])
dfll.to_csv('/workspace/GABRYEL_ALENCAR_DDF_TECH_072024/data/processed/df_processed_orders2.csv', index = False)

In [34]:
dfll = pd.read_csv('/workspace/GABRYEL_ALENCAR_DDF_TECH_072024/data/processed/df_processed_orders1.csv')
dfll

,Unnamed: 0,order_id,payment_sequential,payment_type,payment_installments,payment_value,customer_id,order_status,order_purchase_timestamp,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,10552,10a045cdf6a5650c21e9cfeb60384c16,1,voucher,1,89.71,a4b417188addbc05b26b72d5e44837a1,canceled,2018-10-17 17:30:18,87ab9fec999db8bd5774917de3cdf01c,18077,sorocaba,SP
1,5106,b059ee4de278302d550a3035c4cdb740,1,voucher,1,222.03,856336203359aa6a61bf3826f7d84c49,canceled,2018-10-16 20:16:02,262e1f1e26e92e86375f86840b4ffd63,64600,picos,PI
2,64016,a2ac6dad85cf8af5b0afb510a240fe8c,1,voucher,1,197.55,4c2ec60c29d10c34bd49cb88aa85cfc4,canceled,2018-10-03 18:55:29,af5454198a97379394cacf676e1e96cb,11900,registro,SP
3,35636,616fa7d4871b87832197b2a137a115d2,1,voucher,1,80.38,bf6181a85bbb4115736c0a8db1a53be3,canceled,2018-10-01 15:30:09,634420a0ea42302205032ed44ac7fccc,27175,pirai,RJ
4,95315,392ed9afd714e3c74767d0c4d3e3f477,1,voucher,1,137.03,2823ffda607a2316375088e0d00005ec,canceled,2018-09-29 09:13:03,9bb92bebd4cb7511e1a02d5e50bc4655,7176,guarulhos,SP
...,...,...,...,...,...,...,...,...,...,...,...,...,...
103881,155,3b697a20d9e427646d92567910af6d57,1,boleto,1,45.46,355077684019f7f60a031656bd7262b8,delivered,2016-10-03 09:44:50,32ea3bdedab835c3aa6cb68ce66565ef,4106,sao paulo,SP
103882,32924,71303d7e93b399f5bcd537d124c0bcfa,1,credit_card,1,109.34,b106b360fe2ef8849fbbd056f777b4d5,canceled,2016-10-02 22:07:52,0eb1ee9dba87f5b36b4613a65074337c,2975,sao paulo,SP
103883,58826,809a282bbd5dbcabb6f2f724fca862ec,1,credit_card,2,40.95,622e13439d6b5a0b486c435618b2679e,canceled,2016-09-13 15:24:19,009b0127b727ab0ba422f6d9604487c7,12244,sao jose dos campos,SP
103884,61536,e5fa5a7210941f7d56d0208e4e071d35,1,credit_card,3,75.06,683c54fc24d40ee9f8a6fc179fd9856c,canceled,2016-09-05 00:15:34,4854e9b3feff728c13ee5fc7d1547e92,99025,passo fundo,RS
103885,27216,2e7a8482f6fb09756ca50c10d7bfc047,1,credit_card,1,136.23,08c5351a6aca1c1589a38f244edeee9d,shipped,2016-09-04 21:15:19,b7d76e111c89f7ebf14761390f0f7d17,69309,boa vista,RR